<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">E-commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/customers" *ngIf="securityService.kcService.getUserRoles(true).includes('MANAGER')">Customers</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="javascript:void(0)">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">Link</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another link</a></li>-->
<!--            <li><a class="dropdown-item" href="#">A third link</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
      <ul class="navbar-nav float-end">
        <li class="nav-item">
          <a class="nav-link" *ngIf="securityService.profile;else loginTemplate">
            <a>Welcome {{securityService.profile.firstName}} {{securityService.profile.lastName}}</a>
          </a>
          <ng-template #loginTemplate>
            <a class="btn nav-link" aria-current="page" (click)="login()">Login</a>
          </ng-template>
        </li>
        <li class="nav-item dropdown" *ngIf="securityService.profile">

          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" (click)="onLogout()" >Logout</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>
